{% load static %}

<!doctype html>

<!-- use seperate templates to use accross whole website
we will INSERT THE REST OF OUR TEMPLATES IN THIS -->

<!-- This template is the BASE to use for other templates accross the site -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="She Codes Pets Gone Wild">
        <meta name="author" content="Isabelle Lange">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock%}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} News</h1>
                </a>
            </div>
            {% include './nav.html' %}
            <!-- include nav here -->
        </header>

    

        <!-- content blocks here -->
        <!-- ION ICONS HTML INSTALL -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% block content %}{% endblock %}
    </body>
<footer>
        She Codes News 2022
</footer>
</html>
