.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

footer {
    margin-top: auto;
    margin-top: 5px;
    text-align: center;
    background-color: #8246af;
}

form {
    text-align: center;
    align-items: center;
}

.form-item{
    color: red;
}


.user-welcome {
    color: #8246af;
    text-align: left;
}

#create-story {
    /* width: 1px; */
    width: auto;
    margin: 50px auto;
}


.story-card img {
    /* width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative; */
    width: 200px;
    height: 150px;
    position: relative;
    display: inline-block;
    object-fit: cover;
    overflow: hidden;
    margin: 0;
}
#story-wrapper {
    align-self: center;
}

.user-stories {
    display: block;
    flex-wrap: wrap;
    flex-direction: row;

}

#latest-stories {
    display: flex;
    justify-content: space-evenly;
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 500px; */
}

/* #story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
    border: #8246af;
} */

/* #story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
} */
/* 
#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
} */

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 10px;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-content {
    text-align: justify;
    
}

#story-content img {
    /* border-radius: */
    margin: 0 0 10px 10px;
    width: 40%;
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid 
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 1rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
    padding: 60px;
    text-align: center;
    background: #8246af;
    color: white;
    font-size: 30px;
      
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: #8246af; */
    color: white;
}

/* .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
} */

/* .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-attachment: purple;
    border-radius: 10px;
} */

/* @media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }
} */

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

/* Write Story on createStory.html */
#write-story {
    text-decoration: none;
    color: #FFA300;
    font-size: 45px;
    margin: 28px;
    text-align: center;
  }
/* A widget is Django’s representation of an HTML input element. The widget handles the rendering of the HTML, and the extraction of data from a GET/POST dictionary that corresponds to the widget. */
