    
{% extends "base.html" %}
{% load static %}
    
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
    <div id="user-welcome">
        <h3>Welcome, {{ user }}!</h3>
    </div>

    <button class="button-style">
        <a href="{% url 'news:newStory' %}">Create Story</a>
        {% else %}
            <p>Please login to view page</p>
        {% endif %}
    </button>

    <!-- news/createStory -->
    
    <h2>Latest News</h2>
    
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include      "./storyCard.html"  with     story=story    position=forloop.counter %}
                <!-- <p>{{ story.title }}</p> -->
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
                <!-- <p>{{ story.title }}</p> -->
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}
    
<!--  -->
    
    <!-- Missing HTML cover -->

    <!-- index is more about content
    This is the index page for VIEWS, NOT the Website itelsf -->

    <!-- Curly brackets allow us to put dynamic content into the webstie. If we don't use this, then we would only be able to display one thing -->

    <!-- latest-stories:
    saying IF there are stories, loop through them with a FOR loop, and PRint there titles, If there ARE NOT any, then print -->

    <!-- all-stories:
    print all stories, else if no stories, print none are available -->
