{% extends "base.html" %}{% load static %}{% block stylesheets %}
{% endblock %}{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

<div id="edit-delete-story">
    {% if story.author == user %}
    <div class="edit-del-btn">
        <a href=" {% url 'news:editStory' story.id %}">Edit</a>
        <a href=" {% url 'news:deleteStory' story.id %}">Delete</a>
    </div>
    {% endif %}
</div>


<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{{ story.image_url }}">
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}

<!-- Displays specific story
update folder of placholder for photos
update placeholder -->